# Huspriser data cleaner

In [43]:
# importer pakker
import numpy as np
import pandas as pd

In [44]:
# importer data
data = pd.read_csv('HousingPrices_original.csv', sep=';')

/var/folders/cv/4hkgm9gn1dv2hp0k2jlt7qrm0000gn/T/ipykernel_2537/1922117324.py:2: DtypeWarning: Columns (31,49,51) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('HousingPrices_original.csv', sep=';')

In [45]:
keep_and_rename = {
     'MI_OBJ_OIS_POSTAL_CODE': 'Postnummer',
     'MI_OBJ_OIS_HOUSE_NUMBER': 'Husnummer',
     'MI_OBJ_OIS_SIZE_OF_HOUSE': 'Kvadratmeter',
     'MI_OBJ_OIS_SIZE_OF_PLOT': 'Grundareal',
     'MI_OBJ_OIS_CONSTRUCTION_YEAR': 'Byggeår',
     'SCHOOL_DISTANCE_1': 'Afstand_skole',
     'SUPERMARKET_DISTANCE_1': 'Afstand_supermarked',
     'KOEBESUM_BELOEB': 'Salgspris'
     #'MI_OBJ_OIS_FLOOR_NUMBER': 'Etage'
}

In [46]:
existing = {old: new for old, new in keep_and_rename.items() if old in data.columns}
missing  = [old for old in keep_and_rename if old not in data.columns]

subset = data[list(existing.keys())].rename(columns=existing)
print(f'datapoints: {len(subset)}')

datapoints: 49289

In [47]:
# Lav en kolonne med "Type", der inddeler i om der er en etage skrevet på, som indikerer at det er en lejlighed og ikke et hus.
# 0 for lejlighed (dvs når der står noget på "etage") og 1 for hus (Når der ikke står noget i "etage"))
#subset['Type'] = pd.Series([pd.NA] * len(subset), dtype='Int64')
#mask = subset['Etage'].notna() & subset['Etage'].astype(str).str.strip().ne('')
#subset['Type'] = np.where(mask, 0, 1)  
#subset = subset.drop(columns=['Etage'])

In [48]:
# Fjern alle over 10 mio

subset = subset[subset['Salgspris'].le(10_000_000)]
print(f'datapoints: {len(subset)}')
print(np.max(subset['Salgspris']))
subset.isna().sum().sort_values(ascending=True)

datapoints: 48709
10000000

Kvadratmeter             0
Salgspris                0
Husnummer                4
Grundareal               4
Postnummer              18
Afstand_skole           35
Afstand_supermarked     35
Byggeår                992
dtype: int64

In [49]:
# Fjerner alle rækker med NaN

data_no_na = subset.dropna()  
data_no_na = data_no_na.drop(index=42232) # Removed this point because NN had a lot of trouble with it
data_no_na = data_no_na.drop(index=21081)
data_no_na = data_no_na.drop(index=21080)
data_no_na = data_no_na.drop(index=22832)
data_no_na = data_no_na.drop(index=31254)
print(f'datapoints: {len(data_no_na)}')

datapoints: 47703

In [50]:
data_no_na.to_csv('HousingPrices_selected.csv', index=False)  
data_no_na.isna().sum().sort_values(ascending=True)

Postnummer             0
Husnummer              0
Kvadratmeter           0
Grundareal             0
Byggeår                0
Afstand_skole          0
Afstand_supermarked    0
Salgspris              0
dtype: int64

#